// Colors
$white:                       rgb(255, 255, 255)
$black:                       rgb(0, 0, 0)
$mask-color:                  rgba(0, 0, 0, .5)
$red:                         rgb(203, 10, 39)
$gray:                        rgb(39, 39, 39)
$light-gray:                  rgb(235, 238, 242)
$text-gray:                   rgb(119, 119, 119)
$footer-bg:                   rgb(31, 30, 30)
$social-ico-bg:               rgb(16, 16, 16)
